%div{:layout => "column", "ng-controller" => "AppCtrl", :style => "height:500px;"}
  %section{:flex => "", :layout => "row"}
    %md-sidenav.md-sidenav-left.md-whiteframe-z2{"md-component-id" => "left", "md-is-locked-open" => "$mdMedia('gt-md')"}
      %md-toolbar.md-theme-indigo
        %h1.md-toolbar-tools Sidenav Left
      %md-content{"layout-padding" => "", "ng-controller" => "LeftCtrl"}
        %md-button.md-primary{"hide-gt-md" => "", "ng-click" => "close()"}
          Close Sidenav Left
        %p{"hide-md" => "", "show-gt-md" => ""}
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
    %md-content{:flex => "", "layout-padding" => ""}
      %div{:layout => "column", "layout-align" => "top center", "layout-fill" => ""}
        %p
          The left sidenav will 'lock open' on a medium (&gt;=960px wide) device.
        %p
          The right sidenav will focus on a specific child element.
        %div
          %md-button.md-primary{"hide-gt-md" => "", "ng-click" => "toggleLeft()"}
            Toggle left
        %div
          %md-button.md-primary{"ng-click" => "toggleRight()"}
            Toggle right
      %div{:flex => ""}
    %md-sidenav.md-sidenav-right.md-whiteframe-z2{"md-component-id" => "right"}
      %md-toolbar.md-theme-light
        %h1.md-toolbar-tools Sidenav Right
      %md-content{"layout-padding" => "", "ng-controller" => "RightCtrl"}
        %form
          %md-input-container
            %label{:for => "testInput"} Test input
            %input#testInput{"md-sidenav-focus" => "", "ng-model" => "data", :type => "text"}/
        %md-button.md-primary{"ng-click" => "close()"}
          Close Sidenav Right
